*{
  margin: 0;
  padding: 0;
}

.navbar{
  background: rgb(73, 79, 131);
}
.navbar a{
  padding: 0 10px;
  color: black;
  text-decoration: none;
}

.card img{
  object-fit: contain;
  height: 200px;
}